<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity page</title>
</head>
<body onload="fetchActivity()">

<div id="show-activity">
    <h1 id="activity-name"></h1>
    <h3 id="age-limit"></h3>
    <h3 id="capacity"></h3>
    <div id="activity-description"></div>
</div>


<button onclick="editActivity()">Edit activity</button>

<div id="edit-fields" style="display: none">

    <label for="activity-name-input">Activity name: </label>
    <input type="text" name="activity-name" id="activity-name-input">

    <label for="activity-equipment-input">Add equipment: </label>
    <input type="text" name="activity-equipment" id="activity-equipment-input">
    <button onclick="addEquipment()">Add</button>

    <button onclick="saveActivity()">Save changes</button>
    <button onclick="discardChanges()">Discard changes and return to overview</button>
</div>




<script src="../js/activity.js"></script>
</body>
</html>