<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <title>Activity Page</title>
</head>


<body class="d-flex flex-column h-100" onload="fetchActivity()">

<div th:replace="~{fragments/header :: header}"></div>

<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1>Edit Activity </h1>
        </div>
    </div>
</main>

<div id="show-activity">

    <table class="table">
        <thead>
        <tr>
            <th scope="col"> <div id="activity-name"></div></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><div id="age-limit"></div></td>
        </tr>
        <tr>
            <td><div id="capacity"></div></td>
        </tr>
        <tr>
            <td><div id="height-limit"></div></td>
        </tr>
        <tr>
            <td><div id="duration"></div></td>
        </tr>
        <tr>
            <td><div id="equipment"></div></td>
        </tr>
        <tr>
            <td><div id="activity-description"></div></td>
        </tr>
        </tbody>
    </table>

    <button onclick="editActivity()" class="btn btn-primary" id="edit-button">Edit activity</button>
</div>

<div id="edit-fields" style="display: none">

    <label for="activity-name-input">Activity name: </label>
    <input type="text" name="activity-name" id="activity-name-input"><br>

    <label for="height-limit-input">Height limit: </label>
    <input type="text" name="height-limit" id="height-limit-input"><br>

    <label for="duration-input">Duration: </label>
    <input type="text" name="duration" id="duration-input"><br>

    <label for="age-limit-input">Age limit: </label>
    <input type="text" name="age-limit" id="age-limit-input"><br>

    <label for="capacity-input">People capacity: </label>
    <input type="text" name="capacity" id="capacity-input"><br>

    <label for="description-input">Description: </label>
    <textarea name="description" id="description-input" cols="30" rows="10"></textarea><br>

    <label for="activity-equipment-input">Add equipment: </label>
    <input type="text" name="activity-equipment" id="activity-equipment-input">
    <button onclick="addEquipment()"id="add-button"class="btn btn-primary">Add</button><br>

    <button onclick="saveActivity()" id="save-button" class="btn btn-primary"> Save changes</button>
    <button onclick="discardChanges()"id="discard-button" class="btn btn-primary">Discard changes and return to overview</button>
</div>

<script src="../js/activity.js"></script>
</body>
</html>