<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

    <title>BookingPage</title>

</head>

<body class="d-flex flex-column h-100" onload="fetchBooking()">

<div th:replace="~{fragments/header :: header}"></div>

<div id="show-booking">

        <table class="table">
            <thead>
            <tr>
                <th scope="col"> <div id="booking-name"></div></th>
            </tr>
            </thead>

        <tbody>
        <tr>
            <td><div id="activity_name"></div></td>
        </tr>
        <tr>
            <td><div id="instructor"></div></td>
        </tr>
        <tr>
            <td><div id="date"></div></td>
        </tr>
        <tr>
            <td><div id="time"></div></td>
        </tr>
        <tr>
            <td><div id="participants"></div></td>
        </tr>
        <tr>
            <td><div id="name"></div></td>
        </tr>
        <tr>
            <td><div id="lastName"></div></td>
        </tr>
        </tbody>
    </table>

</div>


<script src="../js/booking.js"></script>


</body>
</html>